.fade-04 {
    transition:.5s ease-in-out;
    opacity: 0;
}

.fade-08 {
    transition:.5s ease-in-out;
    opacity: 0;
}

.fade-12 {
    transition:.5s ease-in-out;
    opacity: 0;
}

.fade-16 {
    transition:.5s ease-in-out;
    opacity: 0;
}

.fade-20 {
    transition:.5s ease-in-out;
    opacity: 0;
}